*{
    margin: 0px;
    padding: 0px;
}
header
{
   /* border: 2px solid black;  */
   box-shadow:  0px -2px 10px rgb(83, 83, 83) ;
   display: flex;
   width: 100vw;
   height: 70px;
   align-items: center;
   gap: 45px;
   position: fixed;
   background-color: rgb(221, 221, 221);
   top: 0px;
}
#logo
{
    margin-left: 50px;
}
#headitem-1
{
    margin-left: 1200px;
}
.headitem:hover
{
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 4px;
}
a{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.headitem {
    
    padding: 4px;
}
main{
    margin-top: -28px;
    /* border: 2px double black; */
    height: 78vh;
    background-image: url('/HarshFirstRepository/Image/tocrop.jpg');
    background-size: 1910px ;
    background-repeat: no-repeat;
}
#main
{
    /* border:  2px dotted white; */
    margin: 80px;
    height: 60vh;
  
}

footer
{
    box-shadow: inset 0px 5px 40px rgb(36, 36, 36) ;
    background: rgb(163, 203, 255);  
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.foot
{
    margin: 10px;
}
form
{position: absolute;
    /* border: 3px solid white; */
   margin-left: 20px;
   padding: 35px;
    display: flex;
 flex-direction: column;
 border: 0px solid rgb(63, 175, 250);
 border-radius: 25px;
 
    width: fit-content;
    height: 50vh;
    top: 100px;
    /* box-shadow:   2px 2px 55px rgb(63, 175, 250); */
    background-color: rgba(19, 19, 19, 0.5);
    gap: 0px;
}
input
{
    
    border: 0px solid rgb(94, 94, 94);
    color: white;
    width: 210px;
    height: 40px;
    background:none;
    text-decoration: underline;
    /* color: white; */
}

textarea
{
    
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 10px;
    text-indent:  10px;
    text-align: center;
    line-height: 40px;
}
form>div
{
    padding: 15px;
  
    padding-bottom: 0px;
    padding-top: 30px;
}
label
{
    /* color: aqua; */
    font-family: sans-serif;
    /* text-shadow: 2px 2px 10px rgb(255, 255, 255); */
    font-size: 15px;
}
#sub
{ width: 50px;
    height: 30px;
    box-shadow:  1px 1px 10px black;
    font-family: sans-serif;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 15px;
    color: rgb(230, 230, 230);
}
#sub:hover
{  top: -5px;
    left: 13px;
    color: rgb(0, 255, 42);
}#sidebar{
    visibility: hidden;
    background: rgb(34, 28, 54);
    
    position: fixed;
    width: 300px;
    border: 2px solid rgb(66, 66, 66);
    height: 61.2vmax;
    right: 0px;
    text-align: end;
    z-index: 11;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Biryani', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
top: 0px;
}
.pro{
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
    text-decoration: none;
}
.pro-1{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 5px 5px 15px rgb(15, 173, 221) ;
}
#sidebaricon
{
  
   padding-left: 40px;
   margin: 0px;
   
}

#headitem-5
{
    margin: 0px;
}
